@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lobster, sans-serif;
    color:black;
    background-image:url(/assets/images/pexels-life-of-pix-7862.jpg);
    background-repeat: space;
}

/* headings and logo */

h1 {
    font-family: Lobster, sans-serif;
    letter-spacing: 5px;
    color: black;

}

body {
    background-image:url(/assets/images/pexels-life-of-pix-7862.jpg);
    background-size: cover;
   background-repeat: no-repeat;
  
}

#logo {
    float: left;
    font-size: 350%;
    line-height: 0.85;
    padding-left: 20px;
    padding-top: 20px;
}