@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}



#main-page-background {
    background: url('../images/surfer-on-a-wave.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   

     
  }


  #background-contact, 
  #main-page-background, 
  #background-gallery, 
  #background-book {
    font-family: Lobster, sans-serif;
    color:black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  


/* headings and logo */

h1 {
    font-family: Lobster, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:#033c45;

}

  


#logo {
    float: left;
    font-size: 350%;
    line-height: 0.85;
    margin-left: 60px;
    margin-top: 30px;
}

/* navigation gallery-book-contact */

#main-navigation  {
    font-size: 250%;
    letter-spacing: 5px;
    font-family: Lobster, sans-serif;
    
}

#main-navigation li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
    margin-top: 30px;
    
}

#main-navigation a {
    text-decoration: none;
    color:#033c45;
    line-height: 0.85;

}

#main-navigation a:hover {
    color: rgb(233, 120, 14);
    vertical-align: bottom;
} 

.active > span {
    font-size: 80%;
    color: rgb(233, 120, 14);
    line-height: 0.85;
    
}

/* surf camps intro*/
     
#intro-sentence h1 {
    margin-top: 150px;
}    

#intro-sentence h2 {
    padding-top: 101px;
}    
    
    

    

/* surf camps */


#camps {
    
    text-align: center;
    
}

#surfhouses {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}




#left {
    margin-top: 30px;
    height: 350px;
    float: left;
    width: 40%;
    
 
    
  
    
}

#first-house {
    margin-top: -280px;
    height: 100%;
    width: 100%;
    background: url("/assets/images/surfhouse\ one.jpg");
    background-position: center center;
    background-size: cover;
    border: solid 4px;
    border-color: white;
    border-radius: 25px;
    opacity: 0%;
    transition: 2s;
    
    
    
}

#first-house:hover {
    
   
    opacity: 100%;
    z-index: 2;
    transform: scale(1.2);
    
}

  
.zec {
    padding-top: 150px;
    font-size: 300%;
    
   
}

.zec > span {
    color: white;
    font-size: 250%;
    opacity: 50%;
}






    
    




#right {
    margin-top: 30px;
    float: right;
    width: 40%;
    height: 350px;
    
    
 
    
  
    
}

#second-house {
    margin-top:-280px;
    height: 100%;
    width: 100%;
    background: url(/assets/images/surfhouse\ \ two.jpg);
    background-position: center center;
    background-size: cover;
    border: solid 4px;
    border-color: white;
    border-radius: 25px;
    opacity: 0%;
    transition: 2s;
    
    
    
}

#second-house:hover {
    
   
    opacity: 100%;
    z-index: 2;
    transform: scale(1.2);
    
}


/* footer styling */

  
footer {
    margin-top: auto;
    width: 100%;
    background-color: rgba(224,232,236,255);
  
    
}

#footer-links {
    text-align: center;

}

#footer-links > li {
   display: inline;
}

#footer-links i {
    font-size: 400%;
    margin: 0.5% 10% 0.5% 10%;
    color:black;

}

#footer-links i:hover {
    color: rgb(233, 120, 14);
}
    

  
  /* Gallery page*/



  #images {

    clear: both;
    
    line-height: 0;
    column-count: 5;
    column-gap: 0;
    
  }

  #images > img {
    margin-top: 20px;
    width: 100%;
    border: solid 4px white;
    box-sizing: border-box;

  }

  #background-gallery {
    background-color:white;
    background-size: cover;
   
  }



  #background-book {

    background-image: url("/assets/images/surfer-on-a-wave-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1200px;

  }

  #background-contact {
    background: url('../images/uderwater.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }



  /* Corralejo surfhouse page*/


  #house-one-description {
      
      clear: both;
      padding-top: 200px;
  }

  #house-one-description p {
    font-size: 120%;
    margin-right: 150px;
  }

  #house-one-description img {

    height: 350px;
    width: 40%;
    float: left;

  }

  #house-one-description p {
      float: right;
      width: 50%;
  } 

  #images-corralejo {

    
    margin-top: 500px;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    
  }

  #images-corralejo > img {
    margin-top: 20px;
    width: 100%;
    border: solid 4px white;
    box-sizing: border-box;

  }

  #background-corralejo-house {
    background-color:white;
    background-size: cover;
    
  }

  #services {
      margin-top: -400px;
      margin-right: 500px;
      width: 40%;
      float: right;
  }

  #services > p {
      font-size: 120%;
  }

  main {
    flex: 1;
  }

 


  /* tablet size */

  @media screen and (max-width: 1075px) {


    #main-navigation {
        clear: left;
        float: left;
        margin-left: 30px;
    }

    #logo {
        margin-left: 30px;   }

       
    #surfhouses {
            flex-direction: column;
            
        }
  
    #left {
            width: 80%;
            margin-left: 70px;
            
        }
  
    #right {
          width: 80%;
          margin-left: 70px;
          
      }

      #span-two {
        display:block;

      }
    }

  
 /* phone size */

  @media screen and (max-width: 650px) {

    #main-navigation {
        clear: left;
        float: left;
        margin-left: 30px;
        font-size: 120%;
        
    }

 
    #logo {
        margin-left: 25px;   }

       
    #surfhouses {
            flex-direction: column;
            
        }
  
    #left {
            width: 50%;
            height: 100px;
            margin: 0 auto;
            
            
        }
  
    #right {
          width: 50%;
          height: 100px;
          margin: 0 auto;
          
      }

    #span-one {
        display:block
    }

    #surfhouses {
        flex-direction: column;
        
    }

#intro-sentence h1 {
        margin-top: 70px;
    }    
    
    #footer-links i {
        font-size: 400%;
        margin: 0.5% 5% 0.5% 5%;
    }

    #surfhouses {
        margin-bottom: 10px;
        
      
        justify-content: center;
    }

    #first-house {
        margin-top:-100px;
    }

    #second-house {
        margin-top:-100px;
    }


    .zec {
        padding-top: 50px;
        font-size: 200%;
        text-align: center;
       
    }
    
    .zec > span {
        color: white;
        font-size: 100%;
        opacity: 50%;
    }
    
    #main-navigation li {
        margin-right: 15px;
        
        

      }

    #intro-sentence h1 {

        font-size: 100%;
    }
    }   

    @media screen and (max-width: 410px) {

        #logo {
            
            font-size: 250%;
            line-height: 0.85;
            margin: 0 10 0 10;
            
           
        }


        #main-navigation {
            clear: left;
            float: left;
            margin-left: 20px;
            font-size: 100%;
            flex-direction: row;
            
            
        }

        .form-section {
            margin-top: 150px;
            clear: left;
            height: 500px;
        }

        .signup-form > h2 {
            margin-top: 10px;
        }


        .signup-form {
            
            margin: 0 10px 0 10px;
    }
}



   /* Form */


   .form-section {
    margin-top: 200px;
    clear: left;
    height: 500px;
}

   .signup-form {
    margin: 0 auto;
    color:white;
    max-width: 400px;
    border-radius: 25px;
    
}

.signup-form > h2 {
    color:white;
    margin-bottom: 20px;
    text-align: center;
    
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin:5px 0 20px 0;
    border: 3px solid #fafafa;
    border-radius: 25px;
    
}

.text-input:hover {
    border-color:rgb(233, 120, 14);
    
}

.join-button  {
    margin-top: 20px;
    margin-left: 140px;
    border-radius: 25px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:black;
    color: #fafafa;
    display:block;
    
}

.join-button:hover {
    background-color:rgb(233, 120, 14);
    color: white;
}

.camp-labels label {
    font-size: 150%;
    margin-left: 60px;

}


/* contact page */

#our-story h1 {

    margin-top: 200px;
    font-size: 300%;
    text-align: center;

}

#our-story p { 
    margin-top: 50px;
    font-size: 150%;
    text-align: center;
}