@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#pokus {
    background-image: url("/assets/images/pexels-life-of-pix-7862.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1200px;

     
  }


body {
    font-family: Lobster, sans-serif;
    color:black;
}

/* headings and logo */

h1 {
    font-family: Lobster, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:#033c45;

}

  


#logo {
    float: left;
    font-size: 350%;
    line-height: 0.85;
    margin-left: 60px;
    margin-top: 30px;
}

/* navigation gallery-book-contact */

#main-navigation  {
    font-size: 250%;
    letter-spacing: 5px;
    
}

#main-navigation li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
    margin-top: 30px;
    
}

#main-navigation a {
    text-decoration: none;
    color:#033c45;
    line-height: 0.85;

}

#main-navigation a:hover {
    color: rgb(233, 120, 14);
    vertical-align: bottom;
} 

.active > span {
    font-size: 80%;
    color: rgb(233, 120, 14);
    line-height: 0.85;
    
}

/* surf camps intro*/

#intro-sentence {
    height: 300px;
}    
     
#intro-sentence h1 {
    padding-top: 250px;
}    
    

    

/* surf camps */


#camps {
    height: 700px;
    text-align: center;
    clear: both;
}


#surfhouses  {
    height: 600px;
    padding-top: 0px;
}
    

#surfhouses h1 {
    padding-top: 100px;
    font-size: 250%;
}
    


#left {
    margin-top: 30px;
    height: 350px;
    float: left;
    width: 40%;
    margin-left: 100px;
 
    
  
    
}

#first-house {
    margin-top: -280px;
    height: 100%;
    width: 100%;
    background: url("/assets/images/pexels-kenneth-carpina-2468773.jpg");
    background-position: center center;
    background-size: cover;
    border: solid 4px;
    border-color: white;
    border-radius: 25px;
    opacity: 0%;
    transition: 2s;
    
    
    
}

#first-house:hover {
    
   
    opacity: 100%;
    z-index: 2;
    transform: scale(1.2);
    
}

  
.zec {
    padding-top: 150px;
    font-size: 300%;
    
   
}

.zec > span {
    color: white;
    font-size: 250%;
    opacity: 50%;
}






    
    




#right {
    margin-top: 30px;
    height: 350px;
    float: right;
    width: 40%;
    margin-right: 100px;
 
    
  
    
}

#second-house {
    margin-top:-280px;
    height: 100%;
    width: 100%;
    background: url(/assets/images/mohd-elle-oji_NGmBI5o-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    border: solid 4px;
    border-color: white;
    border-radius: 25px;
    opacity: 0%;
    transition: 2s;
    
    
    
}

#second-house:hover {
    
   
    opacity: 100%;
    z-index: 2;
    transform: scale(1.2);
    
}


/* footer styling */

  
footer {
    
    height: 80px;
    background-color: rgba(224,232,236,255);
    display: block;
    
}

#footer-links {
    text-align: center;

}

#footer-links > li {
   display: inline;
}

#footer-links i {
    font-size: 400%;
    margin: 0.5% 10% 0.5% 10%;
    color:black;

}

#footer-links i:hover {
    color: rgb(233, 120, 14);
}
    




